<a href="https://colab.research.google.com/github/sumitgaurav25/python---practice/blob/main/11KFoldexercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

In [3]:
iris = load_iris()

In [4]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [11]:
df = pd.DataFrame(iris.data)
df['target'] = iris.target
df['flower_names'] = df.target.apply(lambda x: iris.target_names[x])
df

       0    1    2    3  target flower_names
0    5.1  3.5  1.4  0.2       0       setosa
1    4.9  3.0  1.4  0.2       0       setosa
2    4.7  3.2  1.3  0.2       0       setosa
3    4.6  3.1  1.5  0.2       0       setosa
4    5.0  3.6  1.4  0.2       0       setosa
..   ...  ...  ...  ...     ...          ...
145  6.7  3.0  5.2  2.3       2    virginica
146  6.3  2.5  5.0  1.9       2    virginica
147  6.5  3.0  5.2  2.0       2    virginica
148  6.2  3.4  5.4  2.3       2    virginica
149  5.9  3.0  5.1  1.8       2    virginica

[150 rows x 6 columns]

In [13]:
from sklearn.model_selection import StratifiedKFold
folds = StratifiedKFold(n_splits = 3)

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [14]:
scores_lr = []
scores_svm = []
scores_rfc = []

In [15]:
def get_scores(model, X_train, X_test, Y_train, Y_test):
  model.fit(X_train, Y_train)
  return model.score(X_test, Y_test)

In [23]:
for train_index, test_index in folds.split(iris.data, iris.target):
  X_train, X_test, Y_train, Y_test = iris.data[train_index], iris.data[test_index], iris.target[train_index], iris.target[test_index]
  scores_lr.append(get_scores(LogisticRegression(max_iter=1000), X_train, X_test, Y_train, Y_test))
  scores_svm.append(get_scores(SVC(), X_train, X_test, Y_train, Y_test))
  scores_rfc.append(get_scores(RandomForestClassifier(), X_train, X_test, Y_train, Y_test))

In [24]:
np.mean(scores_lr)

np.float64(0.9733333333333333)

In [25]:
np.mean(scores_svm)

np.float64(0.96)

In [26]:
np.mean(scores_rfc)

np.float64(0.9633333333333334)